<div class="container">
  <div class="jumbotron bg-primary card text-white rounded-lg p-2 mt-2">
    <h2 class="display-4">Sobre Comic App</h2>
  </div>
  <div class="animated fadeIn fast">
    <div class="row">
      <div class="col-md-6">
        <h3>Acerca de:</h3>
        <img class="img-fluid" [src]="'assets/images/limbo.png'" alt="">
        <p class="p-3 h4"><strong>Practicas con Angular</strong></p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h3>Historia</h3>
            </div>
            <div class="card-text">
              <p>
                El cómic o historieta es considerado un producto cultural de la modernidad industrial y política
                occidental que
                surgió en paralelo a la evolución de la prensa como primer medio de comunicación de masas. Pero su punto
                de
                partida se encuentra entre la aparición de la imprenta, en 1446, y de la litografía, en 1789.
              </p>
              <p>
                Hacia finales del siglo XIX tanto en Europa como en Estados Unidos, los periódicos recurrían a
                diferentes
                incentivos con el fin de atraer el mayor número de lectores y, por consiguiente, controlar el mercado.
                La
                modernización de los sistemas de impresión en Estados Unidos permitió que a partir de 1893 se incluyera
                una página en color en los suplementos dominicales. Las series germinales fueron Hogan’s Alley (1895) de
                Outcault, protagonizada por The Yellow Kid, The Katzenjammer Kids (1897) de Rudolph Dirks, y Happy
                Hooligan (1899) de Frederick Burr Opper. Fueron éstas las que sentaron las bases del cómic actual, con
                las
                secuencias de imágenes consecutivas para articular un relato, la permanencia de uno o más personajes a
                lo
                largo de la serie y la integración del texto en la imagen, con los globos de diálogo.
              </p>
              <p>
                La auténtica edad de oro del cómic tuvo lugar a mediados del siglo XX, cuando proliferan las tiras
                diarias
                en la prensa, los comic books y los superhéroes. Es en ese momento cuando el cómic experimenta una
                rápida
                expansión internacional, diversificándose ampliamente el género.
              </p>
              <p>
                En la actualidad disponemos de un riquísimo fondo de cómics, historietas, novelas gráficas o manga, que
                son una muestra de la gran versatilidad del género.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
